#imagen {
	background: url('img/img1.png');
	height: 1079px;
	background-position: center;
	background-size: cover;
}

#imagen .navbar.is-transparent {
	background-color: transparent;
}

.field.is-grouped.mt-6.is-flex.service-buttons {
    justify-content: center;
    margin-bottom: 80px;
}

#contact {
	background: url('img/img2.jpg');
	background-size: cover;
}