main{
    background-color: #536d86;
}
h1{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
    font-size: 10px;
}
.imgInicio{
    max-width: 300px;
    height: 100px;
}
.imgInicioFoto{
    max-width: 300px;
    height: 100px;
    border: ridge;
    border-style: outset;
}
.centrar
{
    display: flex;
    justify-content: center;
}
.redimencionar{
max-width: 400px;
}
hr{
    background-color: lightgrey;
}
.dimencionar{
    width: 20px;
}
.centrar2
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background-color: #536d86;
}