#pro{
    background: cyan;
    color: blue;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.crack{
    background: darkgreen;
    color: coral;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}