/*Inicio*/
/*header del inicio*/
.fondoInicio{
    background:#F1F3F1;
    padding-bottom: 20px;
}
.fondoNav{
    background:#F1F3F1;
}
#navegador ul{
    list-style-type: none;
    margin-block-start: -16px;
    text-align: end;
}
#navegador li{
    display: inline;
    text-align: center;
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
}
#navegador li a{
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
}
#navegador li a:hover{
    color: #c95555;
}
.button{
    background: #4C514C;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color: #E5EDE5;
    border-style: none;
}
#imagenMountain{
    margin-block-end: -22px;
    width: 30px; 
}
.espacio{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: grey;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: grey;
}
#hrlineabaja{
    display: flex;
    justify-content: center;
    width: 100px;
}
.parrafos{
    text-align: center;
    color: grey;
    font-size: 10px;
}

#espacio2{
    display: flex;
    justify-content: center;
}
#buttonBuscar{
    background: #4C514C;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color: #E5EDE5;
    border-style: none;
    margin-left: 20px;
    width: 75px;
    height: 30px;
}
.inputBuscar{
    background: url(imagenes/icons8_search_20px.png) no-repeat scroll 7px 2px;
    padding-left:30px;
    width: 200px;
    font-size: 11px;
    border-style: solid;
}
.hrInicio{
    margin-top: 0px;
}
#refresh{
    display: flex;
}
#prod{
    color: white;
}
/*finaliza header del inicio*/

/*Empieza sección de categorías*/
.imgCentrar{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;

}
.imgReCategorias{
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
}
#pCategorias{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 70px;
    font-size: 10px;
}
#pCategorias p{
    margin-left: 28px;
    margin-right: 44px;
}
#imgCcambalaches{
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
}
#imgCcambalaches img{
    width: 10px;
}
#imgCcambalaches h3{
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
    color: grey;
}
.Centrar{
    display: flex;
    justify-content: center;
}
.imgCambalachesRecientes{
    width: 150px;
    margin-left: 50px;
    margin-right: 10px;

}
.arrows{
    height: 20px;
    width: 20px;
    margin-top: 70px;
}
.espacioC{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.pCaRecientes{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 70px;
    font-size: 10px;
}
.pCaRecientes p{
    margin-left: 108px;
    margin-right: 112px;
}
.pCaRecientes p a{
    color: black;
}
/*Finaliza sección de categorías*/

/*Footer inicia*/
#navegador1 ul{
    list-style-type: none;
    text-align: center;
    padding-top: 5px;
}
#navegador1 li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
}
#navegador1 li a{
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
}
#navegador1 li a:hover{
    color: #c95555;
}
/*Footer termina*/
/*Login*/
#navegadorl ul{
    list-style-type: none;
    text-align: end;
}
#navegadorl li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
}
#navegadorl li a{
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
}
#navegadorl li a:hover{
    color: #c95555;
}
a{
    text-decoration: none;
    color: lightgray;
}
a:hover{
    color: #c95555;
}
.imagenMountainNav{
    position: absolute;
    left: 150px;
    width: 20px; 
    height: 20px;
}
#fondoInicioILogin{
    background:#F1F3F1;
    padding-bottom: 5px;
}
.title1L{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
    top: 40px;
}
.loginespacio{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background:#F1F3F1;
}
#hrlineabaja2{
    max-width: 150px;
    background-color: black;
    margin-block-start: -10px;
}
#hrlineabaja2L{
    justify-content: center;
    max-width: 400px;
    color: darkgray;
}
.inputCC{
    padding-left: 2px;
    width: 150px;
    height: 22px;
    font-size: 11px;
}
#espacio2LC{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.espacio2LCO{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
#parrafos{
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: grey;
    font-size: 10px;
}
#parrafos a{
    color: #00C4FF;
}
#btnIngresar{
    background: #4C514C;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color: #E5EDE5;
    border-style: none;
    margin-left: 20px;
    width: 75px;
    height: 30px;
}
#btnCancelar{
    background:#F1F3F1;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color:grey;
    border-style: none;
    margin-left: 20px;
    width: 75px;
    height: 30px;
}
/*Login*/
/*Registro*/
.espacio3{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.espacio3 input{
    margin-left: 10px;
    width: 160px;
    height: 22px;
    font-size: 11px;
    
}
.espacio3 select{
    margin-left: 8px;
    width: 158px;
    height: 22px;
    font-size: 11px;
    color: grey;
    
}
.centrar{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.centrar input{
    margin-left: 8px;
    width: 328px;
    height: 22px;
    font-size: 11px;
}
#hrlineabaja2R{
    justify-content: center;
    width: 352px;
    color: darkgray;
}
#title2LR{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    text-align: center;
    padding-right: 550px;
    color: grey;
}
#title2LR a{
    color: #00C4FF;
}
/*Registro*/
/*Dashboard*/
.imagenMountainNavD{
    margin-block-end: -46px;
    width: 20px; 
}
.imagenMountainNavDD{
    margin-block-end: -53px;
    width: 20px; 
}
#navegadorD ul{
    list-style-type: none;
    text-align: end;
    padding-bottom: 20px;
    
}
#navegadorD li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
}
#navegadorD li a{
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
}
#navegadorD li a:hover{
    color: #c95555;
}
#fondoD{
    background:#F1F3F1;
    padding-top: -10px;
}
.centrarD{
    display: flex;
    justify-content: center;
}
.title1D{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: grey;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}
.parrafosD{
    text-align: center;
    color: grey;
    font-size: 10px;
    padding-bottom: 15px;
}
.title2D{
    text-align: center;
    color: grey;
    padding-bottom: 30px;
}
.Acomodo{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    padding-top: 27px;
    padding-left: 18px;
    margin-right: 18px;
}
.AcomodoNivel2{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    padding-top: 30px;
    padding-left: 15px;
}
#btnNuevo{
    background: #4C514C;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color: #E5EDE5;
    border-style: none;
    margin-left: 20px;
    width: 75px;
    height: 25px;
}
.resize{
    width: 100px;
}
.title2Lp{
    font-family: 'Open Sans',sans-serif;
    font-size: 10px;
    text-align: start;
    padding-top: 20px;
    color: grey;
    margin-left: -17px;
    margin-top: -48px;
}
.title2Lp a{
    color: #00C4FF;
}
.btnEditar{
    background: darkgreen;
    font-family: 'Open Sans',sans-serif;
    font-size: 8px;
    color: #E5EDE5;
    border-style: none;
    width: 35px;
    height: 18px;
    margin-left: -35px;
    margin-top: -35px;
}
.btnEliminar{
    background: red;
    font-family: 'Open Sans',sans-serif;
    font-size: 7px;
    color: #E5EDE5;
    border-style: none;
    width: 35px;
    height: 18px;
    margin-left: -71px;
    margin-top: -1px;
}
.AlinearA{
    padding-top: 80px;
}
#id_Prod{
    color: white;
}
/*Dashboard*/
/*Detalle*/
.imagenMountainNavDet{
    position: absolute;
    left: 40px;
    width: 20px; 
    height: 20px;
}
.ladoAlado{
    margin-top: -8px;
}
.imgIzquierda{
    max-width: 350px;
}
.parrafosDet{
    font-family: 'Open Sans',sans-serif;
    color: grey;
    font-size: 10px;
}
.parrafosDet a{
    text-decoration-line:underline ;
    color: #006effbe;
}
.title1Det{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: grey;
    font-weight: bold;
}
.parrafosDetNegrita{
    font-family: 'Open Sans',sans-serif;
    color: black;
    font-size: 10px;
}
.subir{
}
.hrDivision{
    margin-block-start: -2px;
    height: 340px;
    margin-left: 0px;
}
.hrDivisionAbajo{
    margin-block-start: -8px;
}
#btnNuevoDet{
    background: #4C514C;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color: #E5EDE5;
    border-style: none;
    width: 75px;
    height: 25px;
}
.lineaBajaDet{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 330px;

}
.lineaBajaDet2{
    width: 50px;
    margin-top: 60px;
    margin-left: 0px;
}
/*Detalle*/
/*Edición*/
.centrarEd{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.centrarEd textarea{
    height: 90px;
    width: 365px;
    font-size: 10px;
    resize: none;
}
.centrarEdPro{
    height: 16px;
    display: flex;
    justify-content: center;
}
.centrarEdPro input{
    width: 175px;
    font-size: 10px;
    margin-inline-end: 190px;
}
.centrarEdURL{
    height: 16px;
    display: flex;
    justify-content: center;
}
.centrarEdURL input{
    width: 365px;
    font-size: 10px;
}
.btnGuardar{
    background: #4C514C;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color: #E5EDE5;
    border-style: none;
    margin-left: 20px;
    width: 90px;
    height: 22px;
}
.btnCancelar{
    background:#F1F3F1;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    color:grey;
    border-style: none;
    margin-left: 20px;
    width: 90px;
    height: 22px;
}
.lineaAbajoEd{
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 400px;
}
.imagenMD{
    margin-block-end: -33px;
    width: 30px;
    
}
/*Edición*/
/*Cambalaches*/
.parrafosCam{
    text-align: start;
    color: grey;
    font-size: 12px;
}
.parrafosCam a{
    color: #666;
    text-decoration: none;
}
.parrafosCam a:hover{
    color: #c95555;
}


.parrafosCam10{
    text-align: start;
    color: grey;
    font-size: 10px;
    margin-block-start: -10px;
    margin-right: 40px;
}
.imgCam{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
}
.reacomodo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.reacomodo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rightImg{
    margin-block-start: 15px;
}
/*Cambalaches*/