body {
	background-color: #666;
}

h1 {
	color: #fff;
	text-align: center;
}

.required {
	color: red;
}

input.required {
	border: 2px solid red;
}

div.form-general-info span.required {
	color: blue;
}
