.form-contact-info {
    display: flex;
    flex-direction: column;
}

h1#title {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 45px;
    margin-top: 60px;
}

input#nombre {
    align-self: center;
    width: 200px;
    font-family: system-ui;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;
}

input#apellido {
    align-self: center;
    width: 200px;
    font-family: system-ui;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;
}

input#telefono {
    align-self: center;
    width: 200px;
    font-family: system-ui;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;
}

input#addClientButton {
    align-self: center;
    height: 33px;
    width: 100px;
    font-family: system-ui;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
head{
    background-color: lightgreen;
}
body{
    background-color: lightgreen;
}